@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

@import url("components/Banner.css");
@import url("components/menu.css");
@import url("components/card.css");
@import url("components/footer.css");



body, html {
	height: 100%;
	margin: 0%;
}

h1 {
font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h2{
font-family: 'Roboto', sans-serif;
}
