.banner {
  position: relative;
  background: black;
  width: auto;
  height: 100%;
}

.banner-text {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  border: 4px solid white;
}

.banner-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #F7E2B3;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}

.banner p {
  font-size: 150%;
}

.banner-crea {
  position: relative;
  margin: auto;
  background-image: black;
  background-color: black;
  height: 50%;
  width: 800px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
    padding-top: 50px;

}

.banner-monde {
  background-color: #F7E2B3;
  height: 50%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-crea {
  position: absolute;
  top: 20%;
  left: 20%;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}

.text-monde {
  position: absolute;
  bottom: 20%;
  right: 20%;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}


}

.banner-monde img {
  width: auto;
  height: 80%;
  padding : 20px;
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom :10px;
  color: white;
}

.insta-button {
  position: absolute;
  top: 20%;
  left: 20%;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}
