.banner {
  position: relative;
  background: black;
  width: auto;
  height: auto;
}

.banner-text {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  border: 4px solid white;
}


}

.banner p {
  font-size: 150%;
}

.banner-crea {
  position: relative;
  margin: auto;
  background-image: black;
  background-color: black;
  height: auto;
  max-width: 800px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 20px 50px 20px;

}

.banner-monde {
  position: relative;
  background-color: #DE525B;
  height: auto;
  max-width: auto;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  padding: 50px 20px 50px 20px;

}

.text-crea {
  position: absolute;
  top: 20%;
  left: 20%;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}

.text-monde {
  position: absolute;
  bottom: 20%;
  right: 55%;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #DE525A;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}






.insta-button {
  top: 50%;
  border: none;
  outline: 0;
  padding: 10px 25px;
  color: black;
  background-color: #DE525A;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 3;
}

.image-map{
  max-width: auto;
  max-height: 300px;

}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
