.romain{
  width: 100%;
  height: auto;
}

.bio{
  padding: 5%;
  background-color: white;
  color: black;
  text-align: center;
}

.bio p{
  text-align: justify;
}

.bio-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.books img{
  width: 100%;
  height: auto;
}

.books {
  padding: 5%;
  background: white;
  width: 100%;
  height: auto;
  color: black;
}

.bio h2 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}



.books-thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.books button {
  padding-top: 3px
  border-radius : 0px;
}

.travel-maps {
  padding-top: 50px;
}

.creation {
  padding:20px;
  text-align: center;
  background-color: white;
}

.creation h2{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: white;
  padding: 10px;
}

.shop {
  max-width: 100%;
  height: auto;
}

.shop-button{
  border-radius: 0 !important;
}

.insta {
  max-width: 100%;
  height: auto;
}
