.categ {
	display: flex;
	color: white !important;
	font-weight: bold !important;
	background: black;
	height: auto;
	z-index: 10;
  width : 100%;
	justify-content: space-between;
  position: fixed;
  justify-content: center;
/*  box-shadow: 0px 7px 18px black;
*/
}


a:hover {
	color: grey !important;
}

a:link {
	color: white !important;
}

a:visited {
	color: white !important;
}

a:active {
	color: white !important;
}


.onglet{

}

.social{
	justify-content: space-around;
}
