.categ {
	display: flex;
	color: black !important;
	font-weight: bold !important;
	background: white;
	height: 5%;
	position: fixed;
	z-index: 2;
	background-size: cover;
	width : 100%;
	justify-content: space-between;
}


a:hover {
	color: black !important;
}

a:link {
	color: black !important;
}

a:visited {
	color: black !important;
}

a:active {
	color: black !important;
}


.onglet{

}

.social{
	justify-content: space-around;
}
